# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db